<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/abada02b63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <div id="container">
        <div id="todoapp-title">
            <h1>TODO APP</h1>
        </div>
        <div id="input-form">
            <form action="create-newtodo" method="POST" id="add-task-form">


                <div id="desc-div">
                    <span class="form-span">DESCRIPTION</span>
                    <textarea id="desc" name="desc" class="scroll input-style" placeholder=" Enter the description"
                        required></textarea>
                </div>


                <div id="ctg-div">
                    <span class="form-span">CATEGAORY</span>
                    <select name="ctg" class="input-style ctg-style" required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        <option value="PERSONAL">Personal</option>
                        <option value="HOME">Home</option>
                        <option value="SCHOOL">School</option>
                        <option value="WORK">Work</option>
                    </select>
                </div>


                <div id="duedate-div">
                    <span class="form-span">DUE DATE</span>
                    <input type="date" id="duedate" name="date" class="input-style" min="2020-01-01" max="2030-12-31" required>
                </div>

            </form>
        </div>


        <div id="submit-buttons">
            <div class="button-div">
                <button id="add-task" type=submit form="add-task-form">
                    <i class="fas fa-plus"></i>
                    ADD TASK
                </button>

            </div>

            <div class="button-div">
                <button id="delete-task" type=submit form="delete-task-form">
                    <i class="fas fa-trash-alt"></i>
                    DELETE TASKS
                </button>

            </div>

        </div>



        <div id="todo-list">
            <form action="delete-todo" method="POST" id="delete-task-form" >

            <% var count=0%>
            <% for (let i of todo_list){ %>

                
                <div class="todo-box">
                    <input type="checkbox" name="checkbox" value="<%= i._id%>" >
                    <% count++ %>
                    <div class="details">

                        <p class="desc-details"><%= i.desc %></p>
                        <P class="date-details">

                            <i class="far fa-calendar-alt"></i>
                            <span class="date-not-deleted"><%= i.date %></span>
                            <span><del class="date-deleted display-none">10-10-2000</del></span>

                        </P>
                        <div class="ctg-color  ctg-details ">
                            <%= i.ctg %>
                        </div>
                        <!-- <div class="school ctg-details ">
                            <%= i.ctg %>
                        </div> -->
                    </div>                   
                </div>
                <%}%>

                

            </form>
        </div>
    </div>

    <script type="text/javascript" src="/js/home_ctg.js"></script>

</body>

</html>